<main>
    <div id="bloccocitazione">
        <blockquote cite="https://it.wikiquote.org/wiki/Platone">
            <p>Socrate: Dunque, amico, sul problema della conoscenza siamo ancora pregni sotto qualche aspetto, o abbiamo partorito tutto?</p>
            <p>Teeteto: Per Zeus, io ho detto, tramite tuo, molte più cose rispetto a quelle che avevo in me stesso.</p>
            <p>Socrate: Ma tutte queste cose la mia arte di ostetrico non dice che sono vane e non degne di essere coltivate?</p>
            <p>Teeteto: Proprio così.</p>
            <p>Socrate: Se dunque dopo queste, o Teeteto, tu vorrai diventare pregno di altre riflessioni, se lo diventerai, sarai pieno per la presente ricerca, di riflessioni migliori, se invece ti manterrai vuoto sarai meno pesante per quelli che stanno con te e più affabile, perché, da buon saggio, non penserai di sapere quello che non sai. Soltanto questo infatti può la mia arte, nulla di più, e io non so nulla di quello che sanno gli altri, quanti uomini grandi e ammirevoli ci sono e ci sono stati. Questa arte maieutica io e mia madre l'abbiamo avuta per volere di un dio, lei a sostegno delle donne, io per quello dei giovani e nobili e quanti sono belli come te. E ora devo andare al portico del Re per ribattere all'accusa che contro me ha scritto Meleto. Incontriamoci di nuovo qui, o Teodoro, domani mattina.</p></blockquote>
            <cite>Teeteto</cite>
    </div>
</main>
