#bloccocitazione {
    width: 40%;
    margin-top: 10px;
}

#titolo {
    
    text-align: center;
    font-size: large;
}

#bloccocitazione, #titolo {
    margin: 0 auto;

}

@media screen and (max-width: 992px) {
    #bloccocitazione {
        width: 70%;
    }
}