<div class="container-fluid d-flex justify-content-md-center pt-md-2 mt-sm-3 mt-md-0" id="menu">
    <nav class="navbar navbar-expand navbar-dark mx-auto">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['/benvenuto']" href="javascript:void(0)">Benvenuto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/vitaPlatone']" href="javascript:void(0)">Vita</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/opere']" href="javascript:void(0)">Opere</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/pensiero']" href="javascript:void(0)">Pensiero</a>
                </li>              
                <li class="nav-item">
                    <a class="nav-link" href="#">Agorà</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<!-- 
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Benvenuto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vita di Platone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pensiero di Platone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Opere di Platone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Agorà di discussione</a>
                </li> -->
