<div class="container d-flex justify-content-md-center float-sm-left pt-md-1" id="menu">
    <nav class="navbar navbar-expand-md navbar-dark">
        <button id="button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['/benvenuto']" href="javascript:void(0)">Benvenuto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/vitaPlatone']" href="javascript:void(0)">Vita di Platone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/opere']" href="javascript:void(0)">Opere di Platone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pensiero di Platone</a>
                </li>              
                <li class="nav-item">
                    <a class="nav-link" href="#">Agorà di discussione</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<!-- 
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Benvenuto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vita di Platone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pensiero di Platone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Opere di Platone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Agorà di discussione</a>
                </li> -->
