a {
    font-size: 1.2rem;
    color: bisque;
}

li {
    padding-left: 20px;
}


@media screen and (max-width: 769px) {

    #menu {
        position: relative;
        top: -30px;
        left: 0;
    }    
}

@media screen and (min-width: 768px) and ( max-width: 991px) {
    #menu {

        position: relative;
        top: -35px;

    }
}