<main>
  <div class="agora container-fluid text-center my-2 px-0">
    <div class="row m-0">
      <div class="col-sm-12 col-md-7 ml-0 pl-0" id="contenitorepost">
        <h3 class="box">I tuoi post:</h3>
        <div class=" posts d-flex flex-column">
          <ul class="list-group  " *ngFor="let item of listapost">
            <li class="list-group-item box text-justify my-2">
              <h4>{{item.title}}</h4>
              <p>{{item.body}}</p>
              <div class="d-grid gap-2 my-3">
                <button class="btn" type="button" (click)="leggiCommenti(item.id)"><b>Guarda i commenti al post!</b></button>
              </div>
              <div class="d-grid gap-2 my-3">
                <button class="btn" type="button" (click)="cancellaPost(item.id)"><b>Cancella il post!</b></button>
              </div>
            </li>
          </ul>
        </div>
        <div class="d-grid gap-2 my-3">
          <button class="btn" type="button" (click)="apriCreaPost()"><b>Scrivi un nuovo post!</b></button>
        </div>

      </div>
      <div class="col-sm-12 col-md-5 h-75" id="contenitorecommenti">
        <h3 class="box">I commenti:</h3>
        <div class="row gl-0">
          <div class="col-12">
            <div class="comments">
              <ul class="list-group">
                <li class="list-group-item box" *ngFor="let item of listacommenti">
                  <p>
                    {{item.title}}
                  </p>
                  <p>
                    {{item.body}}
                  </p>
                  <small>Scritto da: {{item.name}}</small>
                  <br>
                  <button type="button" name="button" class="btn btn-sm" (click)="aggiungiCommento(item.id)">Rispondi</button>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <form class="p-2 box mt-2" *ngIf="commenta == true">
              <div class="form-group w-75 mx-auto">
                <label for="nome">
                  <h4>Come ti chiami?</h4>
                </label>
                <input type="nome" class="form-control" id="nome" placeholder="name@example.com">
                <label for="mail">
                  <h4>Inserisci la tua mail</h4>
                </label>
                <input type="email" class="form-control" id="mail" placeholder="name@example.com">
                <div class="form-group">
                  <label for="commento">
                    <h4>Cosa ne pensi?</h4>
                  </label>
                  <textarea class="form-control" id="commento" rows="3"></textarea>
                </div>
              </div>
              <div class="d-grid gap-2 my-3">
                <button class="btn" type="button"><b>Commenta!</b></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
