<main>
    <div class="agora container-fluid text-center">
        <div class="row gx-3">
            <div class="col-sm-12 col-md-7 ">
                <h3>I tuoi post:</h3>
                <ul class="list-group box posts">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-5 box">
                <div class="row gl-0">
                    <div class="col-12">
                    <h3>I commenti:</h3>
                        <ul class="list-group box  comments">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <form class="p-2">
                            <div class="form-group">
                                <label for="mail"><h4>Inserisci la tua mail</h4></label>
                                <input type="email" class="form-control" id="mail" placeholder="name@example.com">
                                <div class="form-group">
                                    <label for="commento"><h4>Cosa ne pensi?</h4></label>
                                    <textarea class="form-control" id="commento" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="d-grid gap-2 my-3">
                                <button class="btn" type="button"><b>Commenta!</b></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
  