<article>
    <div class="container px-3 py-1" id="vita6">
        <h3>Terzo viaggio in Sicilia</h3>
        <p>
            Nel 361 a.C. Platone compie il suo terzo e ultimo viaggio in Sicilia. Non c'è però Dione, verso il quale Dionigi manifesta un'aperta ostilità; i tentativi di Platone di difendere l'amico portano alla rottura dei rapporti con il tiranno.</p>

        <blockquote>
            (GRC)
            «ἐμὲ παρακαλοῦντας πρὸς τὰ νῦν πράγματα. ἦλθον Ἀθηναῖος ἀνὴρ ἐγώ, ἑταῖρος Δίωνος, σύμμαχος αὐτῷ, πρὸς τὸν τύραννον, ὅπως ἀντὶ πολέμου φιλίαν ποιήσαιμι· διαμαχόμενος δὲ τοῖς διαβάλλουσιν ἡττήθην. πείθοντος δὲ Διονυσίου τιμαῖς καὶ χρήμασιν γενέσθαι μετ’ αὐτοῦ ἐμὲ μάρτυρά τε καὶ φίλον πρὸς τὴν εὐπρέπειαν τῆς ἐκβολῆς»
                                            
            (IT)
            «Io, cittadino ateniese, amico di Dione, suo alleato, mi recai dal tiranno per cambiare in amicizia un rapporto di ostilità; combattei contro i calunniatori, ma ne fui sconfitto. Tuttavia, per quanto Dionigi con onori e ricchezze cercasse di tirarmi dalla sua parte per usarmi come prova a favore della legittimità dell’esilio di Dione, in questo fallì miseramente.»
                                            
            (Lettera VII,333d.)
            Dopo aver avuto un forte diverbio con il tiranno per aver difeso il siracusano Eraclide - colpevole di aver fomentato la rivolta dei mercenari contro Dionigi II - Platone viene cacciato dall'acropoli e trasferito nella casa di Archedemo.[64]
        </blockquote>

        <p>Nel 360 a.C., quando ormai la situazione è divenuta pericolosa per la sua incolumità, riesce a lasciare la Sicilia grazie alla mediazione di Archita e dei pitagorici tarantini, i quali mandano Lamisco che convince Dionisio II a lasciare partire Platone. Durante il viaggio di ritorno, Platone sbarca a Olimpia dove incontra per l'ultima volta Dione. Questi stava progettando una guerra contro Dionigi, dalla quale Platone cercò invano di dissuaderlo: nel 357 a.C. riuscirà a impadronirsi del potere a Siracusa ma vi sarà ucciso tre anni dopo.[65]</p>

        <blockquote>
            (GRC)
                            «κοινός τε ὑμῖν εἰμι, ἄν ποτέ τι πρὸς ἀλλήλους δεηθέντες φιλίας ἀγαθόν τι ποιεῖν βουληθῆτε· κακὰ δὲ ἕως ἂν ἐπιθυμῆτε, ἄλλους παρακαλεῖτε.»
                            
                            (IT)
                            «Sarò di certo con voi se, provando bisogno di reciproca amicizia, cercherete di fare qualcosa di buono; ma finché siete a desiderare il male, chiamate in aiuto qualcun altro.»
                            
                            (Platone, Lettera VII, 350.)
        </blockquote>
    </div>
</article>
