<article>
    <div class="px-3 py-1" id="vita5">
        <h3>Secondo viaggio in Sicilia</h3>
        <p>
            Nel 367-366 a.C. Platone è nuovamente a Siracusa, invitato da Dione che, con la morte di Dionigi il Vecchio e la successione al potere di suo nipote Dionigi il Giovane, conta di poter attuare le riforme impedite dal precedente tiranno.</p>

        <blockquote>
            (GRC)
                    «ὥστε εἴπερ ποτὲ καὶ νῦν ἐλπὶς πᾶσα ἀποτελεσθήσεται τοῦ τοὺς αὐτοὺς φιλοσόφους τε καὶ πόλεων ἄρχοντας μεγάλων»
                    
                    (IT)
                    «Se mai altra volta, certo ora potrà attuarsi la nostra speranza che filosofi e reggitori di grandi città siano le stesse persone»</blockquote>

        <blockquote>
            (Dione, Lettera VII, 328a.[60])
                    La riforma politica di Platone viene fortemente osteggiata dalla fazione tirannica che vede nel filosofo ateniese, e nella sua eloquenza, una minaccia alla propria esistenza, o addirittura un nuovo tentativo di conquista da parte di Atene.[61] Infine i contrasti con Dionigi II, che sospetta nello zio intenzioni di ribellione, portano all'esilio di Dione. Platone è rimasto ugualmente a Siracusa, sia perché il tiranno lo trasferisce sull'acropoli - dove occorre il suo permesso per qualsiasi imbarco - e sia perché nutre ancora «la speranza di fare tutto il bene possibile attraverso un unico individuo».[62] Lo scoppio di un conflitto bellico che impegna direttamente Dionigi II, offre a Platone l'occasione di lasciare la Sicilia. Ma il Siracusano gli promette che in tempo di pace manderà a chiamare sia lui che Dione.[63]
        </blockquote>
    </div>
</article>
