<main>
    <article>
        <div class="container box mt-2 text-center">
            <h3>Pensiero di Platone</h3>
        </div>
        <section>
            <div class="container box mt-2 p-2">
                <h4>La dottrina della conoscenza: le Idee</h4>
                <p>La gnoseologia di Platone, messa a punto in vari dialoghi come il Menone, il Fedone, e il Teeteto, deve combattere contro l'opinione che sostiene che la ricerca della conoscenza sia impossibile. La tesi era stata sostenuta dagli eristi, i quali basavano questo loro insegnamento sulla base di due assunti:</p>
                <ol>
                    <li>Se non si conosce ciò che si cerca, qualora lo si sia trovato, non lo si riconoscerà come l'obiettivo da raggiungere;</li>
                    <li>Se si conosce già quel che si cerca, la ricerca non ha senso.</li>
                </ol>
                <p>Il problema viene superato da Platone ammettendo che l'oggetto della ricerca è solo parzialmente sconosciuto all'uomo, il quale, dopo averlo contemplato prima della nascita, lo ha in qualche modo "dimenticato" nel fondo della sua anima. La meta del suo cercare è dunque un sapere già presente ma nascosto in lui, che la filosofia dovrà risvegliare con la reminiscenza o <i>«anamnesi» (anàmnesis)</i>, concetto su cui Platone fonda il convincimento che l'apprendere è un ricordare.</p>
                <p>Tale dottrina si rifà alla credenza religiosa della metempsicosi propria dell'orfismo[88] e del pitagorismo, secondo cui l'anima, quando il corpo muore, essendo immortale trasmigra in un altro corpo. Platone sfrutta tale mito fondendolo con l'assunto fondamentale che esistano delle Idee che hanno caratteristiche opposte agli enti fenomenici: sono incorruttibili, ingenerate, eterne e immutabili. Queste Idee albergano nell'iperuranio, mondo soprasensibile e che è parzialmente visibile alle anime una volta slegate dai loro corpi.</p>
                <p>L'Idea, traducibile più correttamente con «forma», è dunque il vero oggetto della conoscenza: ma essa non è soltanto il fondamento gnoseologico della realtà, ossia la causa che ci permette di pensare il mondo, bensì ne costituisce anche il fondamento ontologico, essendo il motivo che fa essere il mondo. Le idee rappresentano l'eterno Vero, l'eterno Buono e l'eterno Bello, a cui si contrappone la dimensione vana e transitoria dei fenomeni sensibili.</p>
            </div>
        </section>
        <section>
            <div class="container box mt-2 p-2">
                <h4>La filosofia come Eros</h4>
                <p>È proprio per spiegare l'umano desiderio di conoscenza che Platone ricorre a un celebre mito, quello di Eros, dio greco dell'Amore e della forza,[125] figlio di Poros e Penia, cioè di Risorsa e Povertà.[126] Il filosofo, secondo Platone, è mosso da una tensione verso la verità con lo stesso desiderio d'amore che attrae due esseri umani.</p>
                <p>Per la sua caratteristica di essere principio unificante del molteplice, la peculiarità di eros consiste essenzialmente nella sua ambiguità, ovvero nell'aspirazione alla verità assoluta e disinteressata (ecco la sua abbondanza); ma al contempo nel suo essere costretto a vagare nelle tenebre dell'ignoranza (la sua povertà). La contrapposizione tra verità e ignoranza viene sentita da Platone, come già dal suo maestro Socrate, come una profonda lacerazione, fonte di continua irrequietezza e insoddisfazione.</p>
                <p>Si desidera infatti soltanto quello che non si ha, e l'uomo tende a una sapienza della quale si ricorda vagamente, ma di cui in realtà è povero. Si può notare come la ricerca di questa sapienza muova dalla stessa consapevolezza socratica del «sapere di non sapere». Platone aggiunge che l'uomo non desidererebbe con tanta forza una tale verità se non l'avesse mai vista, se non fosse certo che esiste. In tal senso, non solo si desidera quel che non si ha, ma di più si può affermare: si desidera soltanto ciò che non si ha più, che si è perso.</p>
            </div>
        </section>
    </article>
</main>
