<article>
    <div class="px-3 py-1" id="vita7">
       <h3>Ultimo periodo</h3>
       <p>
        Ad Atene Platone scrisse le ultime opere:

        Il Parmenide in cui vengono discusse le ipotesi opposte «se l'uno è» e «se l'uno non è»;
        Il Sofista dedicato alla definizione del sofista;
        Il Teeteto sul problema della conoscenza;
        il Politico dedicato alla definizione del politico;
        il Timeo dove tratta della cosmologia, della struttura della materia e il problema escatologico;
        il Crizia strutturato come una continuazione del Timeo è incompiuto: comprende la narrazione del mito di Atlantide;
        il Filebo discutendo con Filebo e Protarco, Socrate ricerca il «vero Bene» in grado di garantire una vita felice;
        le Leggi: opera rimasta incompiuta, fu pubblicata postuma dal discepolo Filippo di Opunte, che la divise in dodici libri e ne aggiunse uno finale, l'Epinomide.[66]
        Platone morì nel 347 a.C.[65] e la guida dell'Accademia venne assunta dal nipote Speusippo. La scuola sopravviverà fino al 529 d.C., anno in cui venne definitivamente chiusa da Giustiniano dopo vari periodi di alterne interruzioni della sua attività.
       </p>
    </div>
</article>
