<header id="header">

    <div class="text-center d-flex flex-row align-items-baseline justify-content-around">
        <h2>La caverna di Platone</h2>
        <img [src]="logo" alt="plato">
        <h4>Oltre la caverna, c'è il Sole!</h4>
     </div>

    <nav class="navbar navbar-expand justify-content-center p-0">

        <ul class="navbar-nav">
            
            <li class="nav-item active">
                <a class="nav-link" href="#">Benvenuto
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Vita di Platone</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Opere</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Agorà di discussione</a>
            </li>
        </ul>
    </nav>

</header>
