header {
    background:rgba(70,100,20,0.4);
    color: bisque;
    font-size: small;
    opacity: 0.8;
    padding: 0;
    height: fit-content;
    border-bottom: 2px solid grey;
}

div {
    height: 30%;
}





