<article>
    <div class="box px-3 py-1" id="vita3">
       <h3>Primo viaggio in Sicilia</h3>
       <p>
        Diogene Laerzio afferma che nel 390 a.C. circa, Platone giunse una prima volta in Magna Grecia dove fece la conoscenza del pitagorico Archita di Taranto [50].

        Numerose fonti antiche documentano i suoi successivi viaggi in Sicilia. Nel 388/387 a.C. vi si recò con l'intenzione di studiare da vicino il vulcano Etna. Lo storico greco Diogene Laerzio afferma che il filosofo ateniese si sia recato nel suo primo viaggio siciliano presso i crateri etnei [51]. Alla sua testimonianza si aggiungono quelle di Ateneo [52] e di Apuleio [53]</p>
        
        <h4>Primo viaggio: l'incontro con Dione e Dionisio I</h4>
        <p>Una volta giunto sull'isola fu invitato dal tiranno Dionisio I a recarsi a Siracusa, presso la sua corte. Qui fece la conoscenza del cognato del tiranno, Dione, il quale divenne ben presto uno dei più intimi discepoli.[54] Opposto invece fu l'atteggiamento di Dionisio nei suoi confronti. Al siracusano non piacquero i discorsi di Platone sulla felicità e su cosa fosse giusto o non giusto fare. Per evitargli quindi l'ira di Dionisio, poiché tra i due vi era stato un acceso diverbio, Dione lo fece imbarcare su una nave capitanata dallo spartano Pollide.[55]
        
        Dionisio allora segretamente avrebbe chiesto al suo ambasciatore di uccidere Platone durante il viaggio o di renderlo schiavo. Venne quindi condotto a Egina, isola nemica di Atene, dove fu fatto prigioniero e reso schiavo. A riscattarlo fu il socratico Anniceride di Cirene. Ma quest'episodio, narrato con varianti da Diogene Laerzio,[56] è stato molto discusso e la critica moderna si divide nell'attribuire la responsabilità della riduzione in schiavitù di Platone a Dionisio I[57] o al fatto che durante la guerra di Corinto fosse molto pericoloso per gli Ateniesi navigare su quelle acque.[58]</p>
        
    </div>
</article>
