<article>
    <div class="container px-3 py-1" id="vita4">
       <h3>Fondazione dell'Accademia</h3>
       <p>
        Nel 387 a.C. Platone è ad Atene; acquistato un parco dedicato ad Academo, vi fonda una scuola che intitola Accademia in onore dell'eroe e la consacra ad Apollo e alle Muse. Sull'esempio opposto a quello della scuola fondata da Isocrate nel 391 a.C. e basata sull'insegnamento della retorica, la scuola di Platone ha le sue radici nella scienza e nel metodo da essa derivato, la dialettica; per questo motivo, l'insegnamento si svolge attraverso dibattiti, a cui partecipano gli stessi allievi, diretti da Platone o dagli allievi più anziani, e conferenze tenute da illustri personaggi di passaggio ad Atene.

        In vent'anni, dalla creazione dell'Accademia al 367 a.C., Platone scrive i dialoghi in cui si sforza di determinare le condizioni che permettono la fondazione della scienza; tali sono:
        
        il Clitofonte (tuttavia di incerta attribuzione);
        il Menone (in cui compare per la prima volta l'anamnesi, tramite l'esempio dello schiavo che riesce a dedurre il teorema di Pitagora senza che gli sia mai stato spiegato);[59]
        il Fedone (in cui sostiene l'immortalità dell'anima);
        l'Eutidemo; (in cui viene messa in scena una parodia dell'eristica, l'arte sofistica di "battagliare" a parole allo scopo di confutare le tesi avversarie):
        il Simposio (in cui ogni partecipante dice cos'è, secondo lui, l'amore);
        la Repubblica (in cui espone la sua forma di governo ideale, che non è, come si potrebbe immaginare, una repubblica);
        il Cratilo (in cui discute riguardo al linguaggio);
        il Fedro (in cui presenta la tripartizione dell'anima tramite il mito della biga alata).
       </p>
    </div>
</article>
