#bloccodate {

    max-height: fit-content;
    max-width: fit-content;
    margin: 2px 5px 0 5px;
    
    
}

.btn {
    font-size: 90%;
    margin: 10px 2px 10px 2px;
}

#bottoneNascita {
    background-color:darkgoldenrod;
    width: 80%;
}



@media screen and (max-width: 758px) {

    #bloccodate {
      
       padding-bottom: 2px;
       
    }

    #contenitore {

        width: 100vw;
        
    }

    .btn {
        margin: 1px 2px 1px 2px;
    }
    
    
}