<main>
    <div class="container-fluid mt-3 p-0">
        <div class="row w-100 mx-auto">
            <div class="container-fluid col-sm-12 col-md-3">
                <aside class="box float-md-start py-sm-1 px-3 text-center justify-content-center" id="bloccodate">
                    <div class="row">
                        <div class="col">
                            <button type="button" id="bottoneNascita" class="btn btn-large" (click)="scelta(1)">Nascita e origini</button>
                        </div>
                        <div class="col">

                        </div>
                        <div class="col">
                            <button type="button" id="bottoneNascita" class="btn btn-large" (click)="scelta(3)">Primo viaggio in Sicilia</button>
                        </div>
                        <div class="col">
                            <button type="button" id="bottoneNascita" class="btn btn-large" (click)="scelta(4)">Fondazione Accademia</button>
                        </div>
                        <div class="col">
                            <button type="button" id="bottoneNascita" class="btn btn-large" (click)="scelta(5)">Secondo viaggio in Sicilia</button>
                        </div>
                        <div class="col">
                            <button type="button" id="bottoneNascita" class="btn btn-large" (click)="scelta(6)">Terzo viaggio in Sicilia</button>
                        </div>
                        <div class="col">
                            <button type="button" id="bottoneNascita" class="btn btn-large" (click)="scelta(7)">Ultimo periodo</button>
                        </div>
                    </div>
                    <button type="button" id="bottoneNascita" class="btn btn-large" (click)="scelta(2)">Incontro con Socrate</button>
                    
                     
                </aside>
            </div>
            <div class="container-fluid col-sm-12 col-md-9">
                <article class="px-md-1 py-1 mr-lg-4 my-sm-4 text-center" id="contenitore">
                    <h3 class="text-center px-5" *ngIf="vita == 0">Scegli quale parte vuoi approfondire</h3>
                    <app-vita1 *ngIf="vita == 1"></app-vita1>
                    <app-vita2 *ngIf="vita == 2"></app-vita2>
                    <app-vita3 *ngIf="vita == 3"></app-vita3>
                    <app-vita4 *ngIf="vita == 4"></app-vita4>
                    <app-vita5 *ngIf="vita == 5"></app-vita5>
                    <app-vita6 *ngIf="vita == 6"></app-vita6>
                    <app-vita7 *ngIf="vita == 7"></app-vita7>
                </article>
            </div>
        </div>
    </div>
</main>
