<main>
    <div class="container-fluid mt-5">
        <div class="container float-start mx-5 my-3 text-center" id="bloccodate">

            <button type="button" id="bottoneNascita" class="btn btn-large">Nascita e origini</button>
            <button type="button" id="bottoneNascita" class="btn btn-large">Incontro con Socrate</button>
            <button type="button" id="bottoneNascita" class="btn btn-large">Primo viaggio in Sicilia</button>
            <button type="button" id="bottoneNascita" class="btn btn-large">Fondazione Accademia</button>
            <button type="button" id="bottoneNascita" class="btn btn-large">Secondo viaggio in Sicilia</button>
            <button type="button" id="bottoneNascita" class="btn btn-large">Terzo viaggio in Sicilia</button>
            <button type="button" id="bottoneNascita" class="btn btn-large">Ultimo periodo</button>
        </div>
    </div>
</main>
