#bloccodate {

    background:rgba(70,100,20,0.4);
    color: bisque;
    border: 2px solid grey;
    width: fit-content;
    height: fit-content;
    margin: 2px 5px 0 10px;
    
}

.btn {
    margin: 10px 2px 10px 2px;
}

#bottoneNascita {
    background-color:darkgoldenrod;
    color: bisque;
}

h3 {
    color: bisque;
}
/* 
#contenitore {
    margin-right: 5vw;
} */

@media screen and (max-width: 758px) {

    #bloccodate {
       min-width: 100vw;
       padding-bottom: 2px;
       
    }

    #contenitore {

        width: 100vw;
        
    }
    
}