<main>
    <article>
        <div class="container text-center my-2">
            <h2>Opere di Platone</h2>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="opere  p-2">
                    <p>Di Platone sono pervenute tutte le 36 opere: 34 sono dialoghi; una, l'Apologia di Socrate, riporta una ricostruzione letterario-filosofica dell'autodifesa pronunciata da Socrate davanti ai giudici, mentre l'ultima è una raccolta di tredici lettere.</p>
                    <p>La più antica classificazione risale ad Aristofane di Bisanzio (III secolo a.C.), che ordinò le opere platoniche in cinque trilogie:  </p>
                        <div class="container">
                        <ol class=" mx-auto">
                            <li> Repubblica, Timeo, Crizia</li>
                            <li> Sofista, Politico, Cratilo</li>
                            <li> Leggi, Minosse, Epinomide</li>
                            <li> Teeteto, Eutifrone, Apologia di Socrate</li>
                            <li> Critone, Fedone, Lettere</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
