/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../src/assets/img/caverna.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    margin-bottom: 10vh;
    overflow: auto;
    color: bisque;
    

}

html, body {

    min-height: 100vh;
    width: 100%;
    min-width: fit-content;
}

.box {
    background:rgba(70,100,20,0.4);
    color: bisque;
    border: 2px solid grey;
}

    




